*{
  margin: 0;
  padding: 0;
  border:0;
}

#root{
  width: 100%;
}

.Greeting{
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../public/img/Bienvenida.webp);
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.sectionMain{
  display: flex;
  justify-content: space-around;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 3px;
  margin: 5px;
}

.card:hover{
  -webkit-box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
transition: all 0.7s;
}

a.active{
  color: rgb(255, 255, 255);
}

.DivForm{
  display: flex;
  margin-bottom: 8px;
  background-color: brown;
}