*{
  margin: 0;
  padding: 0;
  border:0;
}

#root{
  width: 100%;
}


.Greeting{
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../public/img/Bienvenida.webp);
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.sectionMain{
  display: flex;
  justify-content: space-around;
}

.card{
  display: flex;
  flex-direction: column;
  width: 250px;
  border: 2px solid rgb(0, 0, 0);
  padding: 3px;
  margin: 5px;

  background: linear-gradient(180deg, rgba(223,210,255,1) 0%, rgb(196, 127, 245) 100%)
}