*{
  margin: 0;
  padding: 0;
  border:0;
}

#root{
  width: 100%;
}

.Greeting{
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../public/img/Bienvenida.webp);
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.sectionMain{
  display: flex;
  justify-content: space-around;
}

.ConteinerItems{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  justify-items: center;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  border-radius: 10px;
  padding: 3px; 
  margin: 5px;
  background-color: #e0dde2;
  -webkit-box-shadow: 4px 7px 17px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 7px 17px 3px rgba(0,0,0,0.75);
  box-shadow: 4px 7px 17px 3px rgba(0,0,0,0.75);
}

.card:hover{
  transform: scale(1.01);
  transition: all 0.2s;
}

a.active{
  color: rgb(255, 255, 255);
}

.divCart{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
}

.divDetailCart{
  border: solid 5px black;
  border-radius: 10px;
  padding: 3px;
  margin: 5px;  
}

.divDetailCartFlex{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 90%;
}

.item-imageCart {
  height: 25vh;
  width: 100%;
  object-fit: cover;
}

.descriptionCart{
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 10px;
  width: 100%;
}


.divDetail{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  background-color: #e0dde2;
  -webkit-box-shadow: 4px 7px 17px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 7px 17px 3px rgba(0,0,0,0.75);
  box-shadow: 4px 7px 17px 3px rgba(0,0,0,0.75);
  border-radius: 10px;
  margin-top: 30px;
} 

.divDetailFlex{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  width: full;
  color: black;
}


.item-detail-container {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.item-image {
  width: 95%; 
  height: 50vh; 
  object-fit: contain;
}

.description-container {
  width: 50%;
  padding-left: 20px; 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btnEliminarCart{
  display: inline;
  position: relative;
  left: 90%;
  padding: 3px;
  margin: 5px;
}


form{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.DivConteinerForm{
  border: solid 2px black;
  border-radius: 10px;
  width: 40%;
  padding: 3px;
  margin-top: 20px;
  background-color: #e0dde2;
  -webkit-box-shadow: 4px 7px 17px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 7px 17px 3px rgba(0,0,0,0.75);
  box-shadow: 4px 7px 17px 3px rgba(0,0,0,0.75);
}

.DivConteinerForm h2{
  font-size: xx-large;
  text-align: center;
}


.DivForm{
  margin: 10px 0px 10px 0px;
  display: flex;
  justify-content: center;
}

.DivForm label{
  margin: 0px 20px 0px 10px;
  font-size: x-large;
  text-transform: capitalize;
} 

.DivForm input{
  margin: 0px 10px 0px 10px;
  padding: 5px;
  font-size: x-large;
  border-radius: 10px;
  border: solid 2px black;
}

.ConteinerOrderIDFlex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:calc(100vh - 80px);  
  width: 100%;
}

.ConteinerOrderID{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  padding: 10px;
  background-color: #87f18d;
  -webkit-box-shadow: 4px 7px 17px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 7px 17px 3px rgba(0,0,0,0.75);
  box-shadow: 4px 7px 17px 3px rgba(0,0,0,0.75);
  border-radius: 10px;
  width: 40%;
  height: 40vh;
}

.ConteinerOrderID h2{
  font-size: xx-large;
  text-align: center;
  margin: 10px 0px 10px 0px;
}

.ConteinerOrderID h3{
  font-size: x-large;
  text-align: center;
  margin: 10px 0px 10px 0px;
}

.ConteinerOrderID p{
  font-size: x-large;
  text-align: center;
  margin: 10px 0px 10px 0px;
}